# Secrets and Environment Variables
.env
.env.local
enable_pages.ps1
.env.*.local
credentials.json

# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
